@use "../setting" as *;

@mixin btn {
	display: inline-block;
	background-color: $cDarkBlue;
	color: $cWhite;
	font-family: $fBookAntiqua;
	letter-spacing: 5px;
	text-align: center;
}

@mixin pageimg {
	width: 100%;
	height: 80vh;
}

@mixin pagettl {
	position: absolute;
	top: 40%;
	left: 6%;
	color: $cWhite;
	font-size: 3rem;
	font-family: $fBookAntiqua;
}
