@use "../setting" as *;

@mixin btn {
	display: inline-block;
	width: 30%;
	margin: 5% 0 0 42%;
	padding: 0.7% 3%;
	background-color: $cDarkBlue;
	color: $cWhite;
	font-family: "Book Antiqua";
	font-family: $fBookAntiqua;
	letter-spacing: 5px;
	text-align: center;
}

@mixin pageimg {
	width: 100%;
	height: 80vh;
}

@mixin pagettl {
	position: absolute;
	top: 40%;
	left: 6%;
	color: $cWhite;
	font-size: 3rem;
	font-family: $fBookAntiqua;
}
